<div class="users form">
    <?php echo $this->Form->create('User'); ?>
    <fieldset>
        <?php echo $this->Form->input('username');
        echo $this->Form->input('password');
        ?>
    </fieldset>
    <?php echo $this->Form->end('Войти'); ?>
    <?php echo $this->Html->link('Зарегистрироваться',
        array('controller' => 'users', 'action' => 'add')); ?>
</div>